body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 5px;
}

#my-img{
    width: 25%;
    border: 15px solid #6d6262;
}

#home-text{
    width: 99%;
    color: rgb(14, 13, 13);
}

header {
    font-family: Impact;
    background-color: #2f2e2e;
    color: white;
    padding: 1px;
    text-align: center;
}

nav ul {
    margin: 0;
    padding: 0;
    background-color: #444;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 10px;
}

nav ul li a {
    color: white;
}

main {
    padding: 20px;
    background-color: rgb(190, 186, 204);
}


#gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.gallery-item {
    width: 30%;
    margin: 10px;
}

.gallery-item img {
    width: 100%;
    height: auto;
}

footer {
    text-align: center;
    background-color: #333;
    color: rgb(85, 14, 216);
    padding: 10px 00;
    bottom: 100;
    width: 100%;
}
